.channel-edit#channel-tab
  .channel-edit__header
    .channel-edit__header__name
      = @channel.name.titleize
    .channel-edit__header__actions
      %button.action-button{"data-action": "click->channel-edit#doSubmit"} Save Changes
  = form_for(@channel, html: { data:{target: "channel-edit.form" } }) do |f|
    .channel-edit__body
      .channel-update
        .channel-update__heading
          Channel Image
          .heading-info
            Public Visible
        = render partial: "channels/channels/partials/upload_image"
      .channel-update
        .channel-update__heading
          %label{for: "channel_name"} Channel Name
        .channel-update__field
          = f.text_field :name, class: 'input-field', placeholder: 'Enter your name', maxlength: "20", data: {target: 'channel-edit.channelName'}
      .channel-update
        .channel-update__heading
          %label{for: "channel_bio"} Channel Bio
          .heading-info
            Introduce to your viewers
        .channel-update__field
          = f.text_area :bio, class: 'input-field', maxlength: "160"
    .channel-edit__footer
      %button{"data-action": "click->channel-edit#doSubmit"} Save Changes