= form_for(resource, as: resource_name, url: session_path(resource_name), remote: remote, data: { target: "authentication.form" }) do |f|
  .field
    = f.label :email
    %br
    = f.text_field :email, autofocus: true, autocomplete: "username"
  .field
    = f.label :password
    %br
    = f.password_field :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in"
