.user-auth-area
  .mobile-menu{  data: { controller: "sidebar" }}
    .menu-button
      %button#open-menu{ data: { action: "click->sidebar#openRightMenu" }}
        = svg_tag 'menu'
    #right-menu.sidebar-area{ "style": "display:none;", data: { target: "sidebar.rightMenu" }}
      #overlay-area.menu-skirt
      .sidebar
        .menu-content
          - if user_signed_in?
            = render partial: "layouts/nav/user_info_list", locals: { show_arrow: false}
          - else
            %button.list-item{data: { action: "click->authentication#showModal"}}
              Login
          %a#close-menu{ data: { action: "click->sidebar#closeRightMenu" }}
            = svg_tag 'close'
        %ul.menu-list
          - if user_signed_in?
            %li
              = link_to 'Sign Out', authentication_path, method: :delete, class: 'list-item'
  .desktop-area
    - if user_signed_in?
      = render partial: "layouts/nav/user_info_list", locals: { show_arrow: true}
      .status-dropdown
        %ul
          %li
            = link_to 'Sign Out', authentication_path, method: :delete, class: 'list-item'
    - else
      %button.list-item{data: { action: "click->authentication#showModal"}}
        Login
