- if user_signed_in?
  %ul
    %li
      = svg_tag 'user', class: 'status-user__profile'
    %li
      %p.status-user__text
        = current_user.display_name
    %li
      = svg_tag 'arrow', class: 'status-user__arrow'
  .status-dropdown
    %ul
      %li
        = link_to 'Sign Out', authentication_path, method: :delete, class: 'list-item'
- else
  .user-authentication{"data-controller": "authentication"}
    %button.list-item{data: { action: "click->authentication#showModal"}}
      Login
    = render :partial => "layouts/nav/login_modal"
