.auth-area
  %h2 Resend unlock instructions
  .auth-form
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = render "users/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "Resend unlock instructions"
  .shared-links
    = render "users/shared/links"
