= content_for :title do
  Veue - Profile Edit
.content-area{
  data: {
    controller: "user-profile"
  }
}
  .profile-content
    .profile-content__menu
      = render partial: "users/partials/menu"
    .profile-content__primary
      = render partial: "users/partials/profile"
      = render partial: "users/partials/privacy"
      = render partial: "users/partials/help"
