= form_for @stream do |f|
  - if @stream.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stream.errors.count, "error")} prohibited this stream from being saved:"
      %ul
        - @stream.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :stream_key
    = f.text_field :stream_key
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :state
    = f.text_field :state
  .actions
    = f.submit 'Save'
