%h1 Listing streams

%table
  %thead
    %tr
      %th Slug
      %th Stream key
      %th Name
      %th State
      %th
      %th
      %th

  %tbody
    - @streams.each do |stream|
      %tr
        %td= stream.slug
        %td= stream.stream_key
        %td= stream.name
        %td= stream.state
        %td= link_to 'Show', stream
        %td= link_to 'Edit', edit_stream_path(stream)
        %td= link_to 'Destroy', stream, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Stream', new_stream_path
