%p#notice= notice

%p
  %b Slug:
  = @stream.slug
%p
  %b Stream key:
  = @stream.stream_key
%p
  %b Name:
  = @stream.name
%p
  %b State:
  = @stream.state

= link_to 'Edit', edit_stream_path(@stream)
\|
= link_to 'Back', streams_path
