%h1 Listing videos

.videos
  - @videos.each do |video|
    .video
      = link_to video_path(video) do
        = image_tag video.thumbnail_url

%br

.chat-section
  .web-account-header
    / .account-header-grid
    /   .account-header-profile
    /     %h3.account-header-profile__title
    /       = image_tag 'profile.png', class: 'profile-img-1'
    /       %select.profile-select
    /         %option{:value => "0"} Annet Aniston
    /         %option{:value => "1"} Aniston 1
    /         %option{:value => "2"} Aniston 3
    /         %option{:value => "3"} Aniston 6
    /         %option{:value => "4"} Aniston 8
    /         %option{:value => "5"} Aniston 9
    /       = image_tag 'dropdown-arrow_03.png'
    /   .account-bell
    /     = image_tag 'bell_06.png'
    / .men-big-img
    /   = image_tag 'man-img_03.png', class: 'men-big-img__pic'
    .follow-section
      .follow-grid
        %h3.follow-title
          = image_tag 'profile-2.png', class: 'profile-follow-img'
          Jonathan Davis
        %button.follow-btn Follow
      %h3.follow-subtitle Stream #4
      %p.follow-pera High-Performance Wireless Earphones
    .web-comment-section
      .web-comment-grid
        = LiveMessages.each do |message|
          / .web-comment-image
          /   = image_tag message.user.profile_avatar
          .web--message
            %p.web--message__name
              = message.user.full_name
            %label.web--message__label
              = message.body
  - if user_signed_in?
    = form_for LiveMessage.new, remote: true do |f|
      .web-message-write
        .write-area
          = f.text_area :body, class: 'write-area__text', placeholder: 'write your message...'
      = f.submit 'Message'
