%h1 Listing videos

%table
  %thead
    %tr
      %th User
      %th Title
      %th
      %th
      %th

  %tbody
    - @videos.each do |video|
      %tr
        %td= video.user_id
        %td= video.title
        %td= link_to 'Show', video
        %td= link_to 'Edit', edit_video_path(video)
        %td= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Video', new_video_path
