- content_for :header do
  <link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />

  <script src="https://vjs.zencdn.net/7.8.3/video.js"></script>

%p#notice= notice

%p
  %b User:
  = @video.user_id
%p
  %b State:
  = @video.state

%video.video-js.vjs-liveui{controls: true, "data-setup": "{\"liveui\": true}"}
  %source{src: "https://stream.mux.com/#{@video.mux_playback_id}.m3u8", type: "application/x-mpegURL"}


= link_to 'Back', videos_path
