.content-area#video-show{data: {"controller" => "audience-view", "audience-view" => {"url" => current_video.hls_url, "stream-type" => current_video.stream_type, "video-id": current_video.id}}}
  .content-area__primary
    .primary-video-area
      .primary-video__header{data: {controller: "audience--header-bar"}}
        .primary-video__header__address_bar
          %input.outline-none{type: "text", disabled: true, data: {target: "audience--header-bar.addressInput"}}
          .link
            = svg_tag 'hyperlink'
        - if current_video.live?
          .widget.time-gray
            %span.icon
              = svg_tag "user-icon"
            %span#active-viewers
              = current_video.active_viewers_count
          .widget.red
            %span
              = current_video.state
        .widget.time-red
          %span.dot.time-dot
          %span{"data-target": "audience-view.timeDisplay"}
      %canvas.primary-canvas{"data-target": "audience-view.primaryCanvas", width: 1280, height: 800}
      .pip-component{data: {controller: "pip"}, draggable: "true"}
        %canvas.pip-secondary-canvas{"data-target": "audience-view.pipSecondaryCanvas pip.canvas", width: 360, height: 280}
      = render partial: 'videos/partials/player_buttons'
    #streamer-profile-area
      = render partial: "videos/partials/streamer_profile"
    %button.chat-btn{data: {action: "click->audience-view#showChat"}} Open Chat
    = render partial: 'videos/partials/pins_area'
  .content-area__secondary
    %canvas.fixed-secondary-canvas{"data-target": "audience-view.fixedSecondaryCanvas", width: 360, height: 280}
    %video.player__video.viewer{"data-target" => "audience-view.video", style: "display: none;", playsinline: "playsinline"}
    = render partial: "shared/chat"
