%p#notice= notice

%p
  %b User:
  = @video.user_id
%p
  %b State:
  = @video.state

:plain
  <video id="myVideo" controls></video>

  <!-- Use HLS.js to support the HLS format in browsers. -->
  <script src="https://cdn.jsdelivr.net/npm/hls.js@0.8.2"></script>
  <script>
    (function(){
      // Replace with your asset's playback ID
      var playbackId = "#{@video.mux_playback_id}";
      var url = "https://stream.mux.com/"+playbackId+".m3u8";
      var video = document.getElementById("myVideo");

      // Let native HLS support handle it if possible
      if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = url;
      } else if (Hls.isSupported()) {
        // HLS.js-specific setup code
        hls = new Hls();
        hls.loadSource(url);
        hls.attachMedia(video);
      }
    })();
  </script>

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
