.chat-section{ "data-controller": "chat", "data-chat-video-id": video.id, "data-chat-user": current_user_id, "data-chat-last-user": "" }
  .account-header
    .comment-section
      .comment-grid.p-1.layout-container-scrollable{ id: "live-chat-#{video.id}", "data-target": "chat.chatMessages" }
        - video.chat_messages.each do |message|
          - if user_signed_in? && current_user.id == message.user_id
            .message-right
              .message-display.message-right__text
                = message.body
          - elsif @last_user and message.user.id == @last_user.id
            .message-grouped
              .message-display.border-left.message-grouped__text
                = message.body
          - else
            .message-left
              .message-left__name
                = message.user.full_name
              .message-display.border-left.message-left__text
                = message.body
  - if user_signed_in?
    = form_for ChatMessage.new, remote: true, html: { class: 'flex' }, data: { target: "chat.chatForm" } do |f|
      .message-write
        .write-area
          = f.hidden_field :video_id, value: video.id
          = f.text_area :body, class: 'write-area__text w-full outline-none', placeholder: 'Write your message...', data: { target: "chat.messageInput" }
      = f.submit 'Send'
