.modal.auth{ style: "display: none;", "data-target": "authentication.modal", "data-action": "click->authentication#hideModal"}
  .modal-skirt
  .modal-content
    - if flash[:modal_error]
      .error= flash[:modal_error]
    .modal-image
      = svg_tag 'logo'
    .form-area
      - @ula ||= (current_session_token || SessionToken.new)
      %form{
        data: {
            target: "authentication.form", controller: "secret-code",
            method: (@ula.pending_confirmation? ? "PUT" : "POST"),
            url: (@ula.active? ? users_path : authentication_path)
          }
        }
        - if @ula.new?
          = render partial: "shared/login_modal/initial"
        - elsif @ula.pending_confirmation?
          = render partial: "shared/login_modal/confirmation"
        - elsif @ula.active?
          = render partial: "shared/login_modal/welcome"
