.products-box
  .product
    = image_pack_tag 'media/images/gallary-img.jpg', alt: 'products', class: 'product__img'
    .overlay-text
      %h3 Nike Air Vapormax 2020 FK
      %p.price $220.00
      .url-box
        = svg_tag 'hyperlink'
        Link
    .button-area
      .icon-box
        = svg_tag 'heart'
      .icon-box
        = svg_tag 'bookmark'
      .icon-box
        = svg_tag 'delete'
  .product
    = image_pack_tag 'media/images/gallary-img.jpg', alt: 'products', class: 'product__img'
    .overlay-text
      %h3 Nike Air Vapormax 2020 FK
      %p.price $220.00
      .url-box
        = svg_tag 'hyperlink'
        Link
    .button-area
      .icon-box
        = svg_tag 'heart'
      .icon-box
        = svg_tag 'bookmark'
      .icon-box
        = svg_tag 'delete'
  .product
    = image_pack_tag 'media/images/gallary-img.jpg', alt: 'products', class: 'product__img'
    .overlay-text
      %h3 Nike Air Vapormax 2020 FK
      %p.price $220.00
      .url-box
        = svg_tag 'hyperlink'
        Link
    .button-area
      .icon-box
        = svg_tag 'heart'
      .icon-box
        = svg_tag 'bookmark'
      .icon-box
        = svg_tag 'delete'
  .product
    = image_pack_tag 'media/images/gallary-img.jpg', alt: 'products', class: 'product__img'
    .overlay-text
      %h3 Nike Air Vapormax 2020 FK
      %p.price $220.00
      .url-box
        = svg_tag 'hyperlink'
        Link
    .button-area
      .icon-box
        = svg_tag 'heart'
      .icon-box
        = svg_tag 'bookmark'
      .icon-box
        = svg_tag 'delete'
