.channel-page{
  "data": {
    "controller": "channel",
    "channel-id": current_channel.id,
    "channel-user-id": current_channel.user.id,
  }
}
  - if upcoming_stream?
    = render partial: "channels/videos/partials/upcoming_stream"
  - elsif current_video
    = render template: "channels/videos/show"
  - else
    .channel-profile
      .channel-profile__background
      .channel-profile__area
        = render partial: "channels/videos/partials/streamer_profile"
        = render partial: "channels/videos/partials/recent_broadcasts"

      = render partial: "layouts/footer"
