= form_for(@user, html: { data:{ controller: "profile-edit", target: "profile-edit.form" } }) do |f|
  .user-profile__header
    .user-profile__header__name{
      "data-action": "click->user-profile#openMenu"
    }
      = svg_tag "back"
      Edit Profile
    .user-profile__header__actions
      %button.action-button{"data-action": "click->profile-edit#doSubmit"} Save Changes
  .user-profile__body
    .user-profile__body__field
      .user-profile__body__field__title
        Profile Image
        .heading-info
          Visible to other members
      = render partial: "users/partials/upload_image"
    .user-profile__body__field
      .user-profile__body__field__title
        %label{for: "user_display_name"} Public Name
        .heading-info
          Real People, Real Names
      .user-profile__body__field__input
        = f.text_field :display_name, class: 'input-field', placeholder: 'Enter your name', maxlength: "20"
    .user-profile__body__field
      .user-profile__body__field__title
        %label{for: "user_about_me"} Bio
        .heading-info
          Let us know about you
      .user-profile__body__field__input
        = f.text_area :about_me, class: 'input-field', maxlength: "160"
    .user-profile__body__field
      .user-profile__body__field__title
        Phone Number
      .user-profile__body__field__input
        = f.text_field :masked_phone_number, class: 'input-field', :disabled => true
    .user-profile__body__field
      .user-profile__body__field__title
        %label{for: "user_email"} Email
        .heading-info
          Add your email for notifications
      .user-profile__body__field__input
        = f.text_field :email, data: { action: "blur->profile-edit#checkEmailValidity", target: "profile-edit.emailField" }, class: 'input-field', placeholder: "Enter your email address"
        .error-message{ "data-target": "profile-edit.emailMessage" }
          Invalid Email
  .user-profile__footer
    %button{"data-action": "click->profile-edit#doSubmit"} Save Changes
    %div Discard
