= form_for(@user, html: { data:{ controller: "profile-edit", target: "profile-edit.form" } }) do |f|
  .user-profile__header
    .user-profile__header__name{
      "data-action": "click->user-profile#openMenu"
    }
      = svg_tag "back"
      Edit Profile
    .user-profile__header__actions
      .action-link Discard
      %button.action-button{data: {
        target: "profile-edit.submitButton",
        action: "click->profile-edit#doSubmit"
        }
      } Save Changes 
  .user-profile__body  
    .profile-update
      .profile-update__heading
        Profile Image
        .heading-info
          Visible to other members
      .profile-update__field.image-field
        .user-avatar
          - if @user.profile_image.attached?
            = circle_image_tag @user.profile_image
          - else
            = svg_tag "logo-circular"
          .user-avatar__info
            %div JPEG, PNG or GIF
            %div (Max. 10 MB.)
        .upload-option
          .upload-option__button
            = f.file_field :profile_image, placeholder: 'Catalina'
            %span Upload
            %span Image
          .upload-option__delete
            = svg_tag "delete-icon"
    .profile-update
      .profile-update__heading
        Public Name
        .heading-info
          Real People, Real Names
      .profile-update__field
        = f.text_field :display_name, class: 'input-field', placeholder: 'Catalina'
    .profile-update
      .profile-update__heading
        Bio
        .heading-info
          Let us know about you
      .profile-update__field
        = f.text_area :about_me, class: 'input-field'
    .profile-update
      .profile-update__heading
        Phone Number
      .profile-update__field
        = f.text_field :masked_phone_number, class: 'input-field', :disabled => true
    .profile-update
      .profile-update__heading
        Email
        .heading-info
          Add your email for notifications
      .profile-update__field
        = f.text_field :email, :data => { :target=> "profile-edit.emailField", :action=> "keyup->profile-edit#checkEmailValidity" }, class: 'input-field', placeholder: "catalina.m@gmail.com"
        .error-message{ "data-target": "profile-edit.errorMessage" }
          Invalid Email
  .user-profile__footer
    %button{data: {
      target: "profile-edit.submitButton",
      action: "click->profile-edit#doSubmit"
      }
    } Save Changes
    %div Discard
