.profile-menu{
  "data-target": "user-profile.profileMenu"
}
  .profile-menu__text
    profiles
  %ul{ role: "menubar" }
    %li.profile-menu__name
      = current_user.display_name
    %li#profile-link.profile-menu__item{
      role: "menuitem",
      data: {
        target: "user-profile.menuItem",
        action: "click->user-profile#closeMenu",
        link: "profile"
      }
    }
      %a{ href: "#profile" }
        %span Profile
        = svg_tag "forward"
    %li#privacy-link.profile-menu__item{
      role: "menuitem",
      data: {
        target: "user-profile.menuItem",
        action: "click->user-profile#closeMenu",
        link: "privacy"
      }
    }
      %a{ href: "#privacy" }
        %span Privacy
        = svg_tag "forward"
    %li#help-link.profile-menu__item{
      role: "menuitem",
      data: {
        target: "user-profile.menuItem",
        action: "click->user-profile#closeMenu",
        link: "help"
      }
    }
      %a{ href: "#help" }
        %span Help
        = svg_tag "forward"
    %li.profile-menu__item{role: "menuitem"}
      = link_to "Sign Out", authentication_path, method: :delete
