.browser{data: {controller: "broadcast--browser"}}
  .browser__bar
    .browser__bar__logo
      = svg_tag "logo"
    .browser__bar__controls
      %a{data: {action: "click->broadcast--browser#goBack", target: "broadcast--browser.backButton"}}
        = svg_tag "back-arrow"
      %a{data: {action: "click->broadcast--browser#goForward", target: "broadcast--browser.forwardButton"}}
        = svg_tag "forward-arrow"
      %a{data: {action: "click->broadcast--browser#doReload", target: "broadcast--browser.reloadButton"}}
        = svg_tag "reload"
    .browser__bar__address
      %input{type: "text", value: "https://apple.com", data: {action: "keypress->broadcast--browser#onKeypress", target: "broadcast--browser.addressBar"}}
    .browser__bar__button
      %a{data: {showOnState: "starting"}} Starting...
      %a{data: {showOnState: "failed"}} Connection Error
      %a{data: {showOnState: "finished"}} Broadcast Complete
      %a{data: {action: "click->broadcast#startStreaming", showOnState: "ready"}}
        = svg_tag "videocam"
        %span Go Live
      %a{data: {action: "click->broadcast#stopStreaming", showOnState: "live"}} Stop Broadcast
      %a.time-area{data: {showOnState: "live"}}
        %span.dot.time-dot
        %span#timecodeDisplay
          \-:-:-
  .browser__underlay{data: {target: "broadcast.browserUnderlay"}}
