.browser_bar{data: {controller: "broadcast--browser", "broadcast--browser": {visible: "true"}}}
  .browser_bar__controls
    %a{data: {action: "click->broadcast--browser#goBack", target: "broadcast--browser.backButton"}, href: "javascript:void(0)"}
      = svg_tag "back-arrow"
    %a{data: {action: "click->broadcast--browser#goForward", target: "broadcast--browser.forwardButton"}, href: "javascript:void(0)"}
      = svg_tag "forward-arrow"
    %a{data: {action: "click->broadcast--browser#doReload", target: "broadcast--browser.reloadButton"}, href: "javascript:void(0)"}
      = svg_tag "reload"
    %a{data: {action: "click->broadcast--browser#stopLoading", target: "broadcast--browser.stopButton"}, style: "display: none;", href: "javascript:void(0)"}
      = svg_tag "stop_icon"
    %a{data: {action: "click->broadcast--browser#toggleVisibility"}}
      = svg_tag "visible-true"
      = svg_tag "visible-false"
  .browser_bar__address
    %input{type: "text", value: "https://www.veue.tv", data: {action: "keypress->broadcast--browser#onKeypress", target: "broadcast--browser.addressBar"}}
