.broadcast_area
  .broadcast_area__header
    .broadcast_area__header__logo
      = svg_tag "logo"
    = render partial: "broadcast_controls"
    = render partial: "browser_bar"
    .broadcast_area__header__actions
      %a.widget{data: {showOnState: "live"}}
        = svg_tag "view"
        %span#active-viewers{
          "data": {
            "controller": "live-viewer-count",
            "target": "live-viewer-count.counter"
          }
        }= current_broadcast_video.active_viewers_count
      %a{data: {showOnState: "starting"}, href: "javascript:void(0)"} Starting...
      %a{data: {showOnState: "failed"}, href: "javascript:void(0)"} Connection Error
      %a{data: {showOnState: "finished"}, href: "javascript:void(0)"} Broadcast Complete
      %a{data: {action: "click->broadcast#startStreaming", showOnState: "ready"}, href: "javascript:void(0)"}
        = svg_tag "videocam"
        %span Go Live
      %a.time-area{data: {showOnState: "live"}}
        %span Live
        %span.dot.time-dot
        %span#timecodeDisplay
          \-:-:-
      %a.stop-btn{data: {action: "click->broadcast#stopStreaming", showOnState: "live"}, href: "javascript:void(0)"}
        = svg_tag "close"
  .broadcast_area__content{
    data: {
      target: "broadcast.browserUnderlay broadcast--capture-sources.mediaDeck",
      controller: "broadcast--capture-sources"
    }
  }
    .media-deck{data: {target: "broadcasts--capture-sources.mediaDeck"}}