.broadcast-commands{
  data: {
    controller: "broadcast--commands"
  }
}
  .broadcast-commands__left
    .btn{data: {controller: "broadcast--media-manager", action: "click->broadcast--commands#showAudioInput", "broadcast--media-manager": {"type": "audio"}}}
      = svg_tag "volume"
      .btn--tooltip
        Switch Microphone
    .btn{data: {controller: "broadcast--media-manager", action: "click->broadcast--commands#showVideoInput", "broadcast--media-manager": {"type": "video"}}}
      = svg_tag "cam"
      .btn--tooltip
        Switch Camera
  .broadcast-commands__right
    .btn#share-btn{data: {controller: "broadcast--share", action: "click->broadcast--commands#showShareOptions", "broadcast--share": {"type": "share"}}}
      = svg_tag "share"
      .btn--tooltip
        Share Broadcast
    .btn#settings-btn{ data: { action: "click->broadcast--commands#showSettingsForm" }}
      = svg_tag "gear"
      .btn--tooltip
        Settings
  = render partial: "commands_menu"
.debug-area{data: {target: "broadcast--debug.debugArea"}}
  .release-channel
    %input{data: {target: "broadcast--debug.releaseChannel"}}
    %button{data: {action: "click->broadcast--debug#switchToReleaseChannel"}} Install
