#startup{data: {controller: "broadcast--startup"}, style: "display: none;"}
  .browser-warning{data: {target: "broadcast--startup.browserWarning"}}
    = t('broadcast.browser_warning')
  .wrapper
    .welcome
      .logo= svg_tag "logo"
      = t("broadcast.welcome_message")

      = t("broadcast.complete_steps")
    .checklist
      .checklist--step
        %span.checklist--step--status{data: {target: "broadcast--startup.videoAccess"}} ✓
        = t("broadcast.access.camera")
      .checklist--step
        %span.checklist--step--status{data: {target: "broadcast--startup.microphoneAccess"}} ✓
        = t("broadcast.access.microphone")
      .checklist--step
        %span.checklist--step--status{data: {target: "broadcast--startup.loggedInStep"}} ✓
        = t("broadcast.access.login")
    .prompts
      .next{data: {target: "broadcast--startup.step", "startup": { step: "media"}}}
        Click below to grant access
        %button{data: {action: "click->broadcast--startup#requestAccess"}} Prompt For Access
      .next{data: {target: "broadcast--startup.step", "startup": { step: "login"}}}
        %button{data: {action: "click->authentication#showModal"}} Login
      - if user_signed_in?
        .next{data: {target: "broadcast--startup.step", "startup": { step: "redirect"}}}
          = link_to "Start Broadcast", broadcast_path(current_channel.active_video!), target: "_blank", class: "share_broadcast"
    = render partial: "broadcasts/user_instructions_modal"
