
.logo
  = link_to root_path do
    = svg_tag 'logo-full'
%h2= t("broadcast.no-mobile.warning")

%button{onclick: raw("navigator.share({url: 'https://veue.tv/broadcasts', title: 'Veue Broadcaster', text: 'https://veue.tv/broadcasts'})")}
  = t("broadcast.no-mobile.share-button")
  = svg_tag :share