= content_for :title do
  = "#{current_video.title || 'Video'} - #{current_channel.name} - Veue"
.content-area#video-show{
  "data": {
    "controller": "audience-view audience--player-controls audience--#{current_video.stream_type}-video",
    "video-id": current_video.id,
    "audience-view": {
      "stream-type": current_video.stream_type
    },
    "channel-id": current_channel.id,
    "channel-slug": current_channel.slug,
    "start-offset": current_video.start_offset,
    "end-offset": current_video.end_offset,
    "hls-url": current_video.hls_url,
    "phenix": {
      "auth-token": Phenix::EdgeAuth.auth_token(current_channel),
      "stream-token": Phenix::EdgeAuth.stream_token(current_channel),
      "channel-alias": Phenix.channel_alias(current_channel)
    }
  }
}
  .content-area__primary{data: {controller: "canvas-size-observer"}}
    .primary-video{"data": { controller: "audience--movable-pip", action: "click->audience--player-controls#setBadgeTimer", target: "audience--player-controls.videoContainer"}}
      = render partial: "channels/videos/partials/header"
      .mute-banner{style: "display: none;", data: { target: "audience--player-controls.muteBanner", action: "click->audience--player-controls#toggleAudio click->audience--player-controls#hideMuteBanner"}}
        = svg_tag("volume-mute", height: 14, width: 19)
        .mute-banner__text-desktop
          = t("video.click_to_unmute")
        .mute-banner__text-mobile
          = t("video.tap_to_unmute")
      %canvas.primary-canvas{
        "data-target": "audience-view.primaryCanvas canvas-size-observer.canvas",
        width: 1200,
        height: 740,
      }
      .primary-video__overlay
      = render partial: "channels/videos/partials/pip_area"
      .player-controls-area
        = render partial: "channels/videos/partials/player_controls"
    .profile-area
      = render partial: "channels/videos/partials/streamer_profile"

    = render partial: "channels/videos/partials/recent_broadcasts"
    = render partial: "layouts/footer"

  .content-area__secondary
    %canvas.fixed-secondary-canvas{
      "data-target": "audience-view.fixedSecondaryCanvas",
      width: 420,
      height: 340
    }
    %video.player__video.viewer{
      "data-target": "audience--#{current_video.stream_type}-video.video audience--player-controls.video audience-view.video",
      crossorigin: "anonymous",
      style: "width: 0px; height: 0;",
      playsinline: "playsinline",
    }
    = render partial: "shared/chat", locals: { video: current_video }
