.content-area#video-show{
  "data": {
    "controller": "audience-view",
    "audience-view": {
      "stream-type": current_video.stream_type
    },
    "video-id": current_video.id,
    "channel-id": current_channel.id,
    "channel-slug": current_channel.slug
  }
}
  .content-area__primary
    .primary-video-area{"data": { controller: "audience--movable-pip" }}
      - if upcoming_stream?
        = render partial: "channels/videos/partials/upcoming_stream"
      - else
        = render partial: "channels/videos/partials/header"
        %canvas.primary-canvas{
          "data-target": "audience-view.primaryCanvas",
          width: 1200,
          height: 740
        }
        = render partial: "channels/videos/partials/pip_area"
        = render partial: "channels/videos/partials/player_controls"
    #streamer-profile-area
      = render partial: "channels/videos/partials/streamer_profile"
  .content-area__secondary
    = render partial: "channels/videos/partials/video_webcam"
    = render partial: "shared/chat", locals: { video: current_video }
