.content-area#video-show{
  "data": {
    "controller": "audience-view audience--player-controls",
    "audience-view": {
      "stream-type": current_video.stream_type
    },
    "video-id": current_video.id,
    "channel-id": current_channel.id,
    "channel-slug": current_channel.slug
  }
}
  .content-area__primary
    .primary-video-area{"data": { controller: "audience--movable-pip" }}
      = render partial: "channels/videos/partials/header"
      %canvas.primary-canvas{
        "data-target": "audience-view.primaryCanvas",
        width: 1200,
        height: 740
      }
      = render partial: "channels/videos/partials/pip_area"
      = render partial: "channels/videos/partials/player_controls"
    .streamer-profile-area
      = render partial: "channels/videos/partials/streamer_profile"

    = render partial: "channels/videos/partials/recent_broadcasts"
    = render partial: "layouts/footer"

  .content-area__secondary
    %canvas.fixed-secondary-canvas{
      "data-target": "audience-view.fixedSecondaryCanvas",
      width: 420,
      height: 340
    }
    %video.player__video.viewer{
      "data-target": "audience-view.video audience--player-controls.video",
      crossorigin: "anonymous",
      src: current_video.hls_url,
      style: "width: 0px;",
      playsinline: "playsinline"
    }
    = render partial: "shared/chat", locals: { video: current_video }
