= content_for :title do
  Discovery Veue
.content-area
  .discover
    - if @live_videos.any?
      .discover__strip
        %h2= t("discover.live")
        .discover__strip__items
          = render collection: @live_videos, partial: "shared/video_card"

    - if @scheduled_shows.any?
      .discover__strip
        %h2= t("discover.upcoming")
        .discover__strip__items
          = render collection: @scheduled_shows, partial: "shared/upcoming_card"

    .discover__strip
      %h2= t("discover.our_streamers")
      .discover__strip__items{data: {controller: "util--click-drag"}}
        = render collection: @popular_channels, partial: "shared/channel_card"

    = render collection: @curations, partial: "curation"


    %h2= t("discover.recent")
    .discover__grid
      = render collection: @recent_videos, partial: "shared/video_card"

  = render partial: "layouts/footer"
