= content_for :title do
  Discovery Veue
.content-area
  .discover-area
    - if @live_videos.any?
      %h2 Live Broadcasts
      .live-broadcasts
        = render collection: @live_videos, partial: "shared/video_card"

    %h2 Our streamers
    .popular-streamers
      .popular-streamers__inner
        - @popular_channels.each do |channel|
          .popular-streamers__avatar
            %a{href: channel_path(channel.slug)}
              = channel.decorate.profile_image_circle(200)

    %h2 Featured Replays
    .recent-broadcasts
      = render collection: @recent_videos, partial: "shared/video_card"

  = render partial: "layouts/footer"
