= content_for :title do
  = @seo_title
.content-area
  .discover
    - if @cms_components.present?
      = render @cms_components
    - else
      - if @live_videos.any?
        .discover__strip
          %h2= t("discover.live")
          .discover__strip__items
            = render collection: @live_videos, partial: "shared/video_card"

      - if @scheduled_shows.any?
        .discover__strip
          %h2= t("discover.featured_shows")
          .discover__strip__items
            = render collection: @scheduled_shows, partial: "shared/upcoming_card"

      .discover__strip
        %h2= t("discover.top_channels")
        .discover__strip__items{data: {controller: "util--click-drag"}}
          = render collection: @popular_channels, partial: "shared/channel_card"

      .discover__strip
        %h2= t("discover.recent")
        .discover__strip__items{data: {controller: "util--click-drag"}}
          = render collection: @recent_videos, partial: "shared/video_card"

  = render partial: "layouts/footer"
