= content_for :title do
  = @seo_title
.content-area
  .discover
    - if @cms_components.present?
      - @cms_components.each do |component|
        = render component

      .discover__button
        = link_to "See More", "/videos", class: "btn btn--secondary"
    - else
      = render DiscoverCuration::Component.new(title: t("discover.live"), videos: @live_videos, display_type: "strip")
      = render DiscoverUpcoming::Component.new(title: t("discover.featured_shows"), shows: @scheduled_shows)
      = render DiscoverChannels::Component.new(title: t("discover.top_channels"), channels: @popular_channels)
      = render DiscoverCuration::Component.new(title: t("discover.recent"), videos: @recent_videos, display_type: "grid")

      .discover__button
        -# page 2 because theyve already seen page 1!
        = link_to "See More", "/videos?page=2", class: "btn btn--secondary"

  = render partial: "layouts/footer"
