= content_for :title do
  = @seo_title
.content-area
  .discover
    - if @cms_components.present?
      - @cms_components.each do |component|
        = render component

      .discover__button
        = link_to "See More", "/videos", class: "btn btn--secondary"
    - else
      - if @live_videos.any?
        .discover__strip
          %h2= t("discover.live")
          .discover__strip__items
            = render collection: @live_videos, partial: "shared/video_card"

      - if @scheduled_shows.any?
        .discover__strip
          %h2= t("discover.featured_shows")
          .discover__strip__items
            = render collection: @scheduled_shows, partial: "shared/upcoming_card"

      = render DiscoverChannels::Component.new(title: t("discover.top_channels"), channels: @popular_channels)

      .broadcasts
        %h2.broadcasts__header= t("discover.recent")
        = render collection: @recent_videos, partial: "shared/video_card"

      .discover__button
        -# page 2 because theyve already seen page 1!
        = link_to "See More", "/videos?page=2", class: "btn btn--secondary"

  = render partial: "layouts/footer"
