%header
  .header__left
    .header__left__logo
      = link_to root_path do
        = svg_tag 'logo-full'
  .header__right
    - if user_signed_in?
      .menu-area{
        "data": {
          "controller": "user-menu",
          "user-id": current_user.id,
          "user-name": current_user.display_name,
          "target": "user-menu.area",
          "is-open": "false",
          "action": "mouseenter->user-menu#openOrCloseEvent mouseleave->user-menu#openOrCloseEvent resize@window->user-menu#layout click->user-menu#openOrCloseEvent"
        }
      }
        = render partial: "users/partials/profile_image", locals: { user: current_user }
        = svg_tag "chevron"
        %nav.user-menu{aria: {label: "Account Settings"}, data: {target: "user-menu.menu"}}
          .user-menu__text
            Settings
          %ul{role: "menubar"}
            %li.user-menu__name
              = current_user.display_name

            - if channel_slug = current_user&.channels&.first&.slug
              %li.user-menu__item{role: "menuitem"}
                = link_to "My Channel", channel_path(channel_slug)
            %li.user-menu__item{role: "menuitem"}
              = link_to "Profile", edit_user_path(id: current_user.id, anchor: 'profile')
            %li.user-menu__item{role: "menuitem"}
              = link_to "Privacy", edit_user_path(id: current_user.id, anchor: 'privacy')
            %li.user-menu__item{role: "menuitem"}
              = link_to "Help", edit_user_path(id: current_user.id, anchor: 'help')
            %li.user-menu__item{role: "menuitem"}
              = link_to "Sign Out", authentication_path, method: :delete
    - else
      %button{data: { action: "click->authentication#showModal"}}
        Login
