%header{data: {"show-when-video-focused": true}}
  .header__left
    .header__left__logo
      = link_to root_path do
        = svg_tag 'logo-full'
  .header__right
    - if !current_user || !current_user.streamer?
      .header-banner
        = render partial: "shared/call_to_action"
    - if user_signed_in?
      .menu-area{
        "data": {
          "controller": "user-menu",
          "user-id": current_user.id,
          "user-name": current_user.display_name,
          "target": "user-menu.area",
          "is-open": "false",
          "action": "pointerenter->user-menu#openOrCloseEvent pointerleave->user-menu#openOrCloseEvent resize@window->user-menu#layout click->user-menu#openOrCloseEvent"
        }
      }
        = render partial: "users/partials/profile_image", locals: { user: current_user }
        = svg_tag "chevron"
        %nav.user-menu{aria: {label: "Account Settings"}, data: {target: "user-menu.menu"}}
          .user-menu__text
            Settings
          %ul{role: "menubar"}
            %li.user-menu__name
              = current_user.display_name

            - if channel_slug = current_user.channels.select(:slug).first
              %li.user-menu__item{role: "menuitem", data: { "test-id" => "user-menu-channel" }}
                = link_to "My Channels", edit_channel_path(current_user.channels.first.id), draggable: false

            -# Swap to this when the user / channel relationship is fixed
              %li.user-menu__item{role: "menuitem", data: { "test-id" => "user-menu-channel" }}
                = link_to "Channels", channels_path, draggable: false

            %li.user-menu__item{role: "menuitem", data: { "test-id" => "user-menu-profile" }}
              = link_to "Profile", edit_user_path(id: current_user.id, anchor: 'profile'), draggable: false
            %li.user-menu__item{role: "menuitem", data: { "test-id" => "user-menu-privacy" }}
              = link_to "Privacy", edit_user_path(id: current_user.id, anchor: 'privacy'), draggable: false
            %li.user-menu__item{role: "menuitem", data: { "test-id" => "user-menu-help" }}
              = link_to "Help", edit_user_path(id: current_user.id, anchor: 'help'), draggable: false
            %li.user-menu__item{role: "menuitem", data: { "test-id" => "user-menu-sign-out" }}
              = link_to "Sign Out", authentication_path, method: :delete, draggable: false
    - else
      %button{data: { action: "click->authentication#showModal"}}
        Login
