!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content:"width=device-width, initial-scale=1, viewport-fit=cover"}/
    %title Veue
    :javascript
      globalThis.startLoadTime = Date.now();
    = render partial: 'layouts/gtm'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = yield :header if content_for?(:header)
  %body{body_attributes}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K4PCNR3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    -#.example-parent{ style: "height: 100px; width: 100%; position: relative; border: solid 1px red;"}
    -#  .example-origin
    -#    #draggable-1{class: "example-draggable", ondragstart: "console.log(event)", draggable: "true", style:"float: left;  margin: 10px; width: 40px; height: 40px; background-color: black;"}
    -#    #droppable-1{class: "example-dropable",  ondragenter: "console.log('ondragenter 1')", ondragleave: "console.log('ondragleave 1')", ondragover: "event.preventDefault()",  ondrop: "console.log(event); alert('dropped on 1')",  style:"float: left;   margin: 10px; width: 80px; height: 40px; background-color: white; border: solid 2px blue;"}
    -#    #droppable-2{class: "example-dropable",  ondragenter: "console.log('ondragenter 1')", ondragleave: "console.log('ondragleave 1')", ondragover: "event.preventDefault()",  ondrop: "console.log(event); alert('dropped on 2')",  style:"float: left;   margin: 10px; width: 60px; height: 60px; background-color: light-green; border: solid 1px green;"}

    #layout-container{ data: { controller: "authentication" }}
      = render partial: 'layouts/navbar'
      #main-container
        - if flash[:notice]
          .flash_notice
            = flash[:notice]
        - if flash[:alert]
          .flash_error= flash[:alert]
        = yield
      = render partial: "shared/login_modal"