!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content:"width=device-width, initial-scale=1, viewport-fit=cover"}/
    %title
      - if content_for(:title)
        = yield :title
      - else
        Veue
    :javascript
      globalThis.appConfig = #{raw JSON.generate(app_config)};
      globalThis.startLoadTime = Date.now();
    = piwik_tracking_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application', async: true
    = yield :header if content_for?(:header)
  %body{body_attributes}
    #layout-container{
      data: { controller: "authentication" }
    }
      = render partial: 'layouts/header'
      #main-container
        - if flash[:notice]
          .flash_notice
            = flash[:notice]
        - if flash[:alert]
          .flash_error= flash[:alert]
        = yield
      = render partial: "shared/login_modal"
      = render partial: "shared/notification"
