!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'broadcast', media: 'all'
    = javascript_pack_tag 'application'
    = javascript_pack_tag 'broadcast'
    = yield :header if content_for?(:header)
  %body{body_attributes, "data-user-id": current_user&.id}
    #layout-container
      #main-container
        = yield
