.channel-bar{
  data: {
    controller: "channel-bar",
    target: "canvas-size-observer.resizable",
    "show-when-video-focused": true
  }
}
  .channel-bar__info
    .channel-bar__info__avatar
      %a{href: channel_path(current_channel)}
        = current_channel.channel_icon_circle(160)
        - current_channel.users.each do |host|
          - if host.profile_image.attached?
            = circle_image_tag(host.profile_image, 160)
    .channel-bar__info__text
      .channel-bar__info__text__name
        %a{href: channel_path(current_channel)}
          = current_channel.name
          - if current_channel.verified?
            = svg_tag 'verified'
      .channel-bar__info__text__about
        = current_channel.tagline
    .channel-bar__info__follow
      .channel-bar__info__follow__count
        = svg_tag 'user-icon-dark'
        %span
          = current_channel.followers.size
      - if user_signed_in?
        - if current_user.follows?(current_channel)
          %button.unfollow-btn{data: { action: "click->channel-bar#unfollow" }} Following
        - elsif current_channel.user != current_user
          %button.follow-btn{data: { action: "click->channel-bar#follow" }}
            = svg_tag "plus"
            %span Follow
        - if can? :manage, current_channel
          = link_to button_tag(svg_tag("edit")), edit_channel_path(current_channel)
      - else
        %button.follow-btn{data: { action: "click->authentication#showModal" }}
          = svg_tag "plus"
          %span Follow
  - if current_channel.next_show_at && !current_video&.live?
    .channel-bar__upcoming__broadcast
      .channel-bar__upcoming__broadcast__text
        = svg_tag "clock"
        = t("channels.scheduled.next_live_at")
      .channel-bar__upcoming__broadcast__date
        - current_channel.next_show_at_in_words
      - unless current_user&.follows?(current_channel)
        .channel-bar__upcoming__broadcast__cta
          = t("channels.scheduled.cta", name: current_channel.name)
