= form_with model: video, url: broadcast_path(video), id: "broadcast-settings__form", class: "broadcast-settings__form", method: :PUT,
  data: { controller: "video-scheduling",
          target: "broadcast--settings.form broadcast--commands-menu.settingsForm",
          action: "submit->broadcast--settings#submitForm" } do |form|
  = form.label :title
  = form.text_field :title, placeholder: "Title your broadcast!", maxlength: 70

  = form.label :visibility

  = form.select :visibility, visibilities_for_select, {}, class: "select", data: { target: "broadcast--settings.visibility" }