
.streamer-profile{ data: {controller: "streamer-profile"}}
  .streamer-info
    .streamer-info__avatar
      = current_channel.profile_image_circle
    .streamer-info__text
      .streamer-info__name
        %a{href: channel_path(current_channel)}
          = current_channel.name
      .streamer-info-desktop__about
        = current_channel.about
    .streamer-info__follow-info
      .streamer-info__follow-count
        = svg_tag 'user-icon-dark'
        %span
          = current_channel.followers.size

      - if user_signed_in?
        - if current_user.follows?(current_channel)
          %button.unfollow-btn{data: { action: "click->streamer-profile#unfollow" }} Following
        - else
          %button.follow-btn{data: { action: "click->streamer-profile#follow" }} Follow
      - else
        %button.follow-btn{data: { action: "click->authentication#showModal" }} Follow


  - unless current_channel.about.blank?
    .streamer-info-mobile__about
      = current_channel.about
