.streamer-profile{
  data: {
    controller: "streamer-profile",
    target: "canvas-size-observer.resizable",
    "show-when-video-focused": true
  }
}
  .streamer-profile__info
    .streamer-profile__info__avatar
      %a{href: channel_path(current_channel)}
        = current_channel.profile_image_circle(160)
    .streamer-profile__info__text
      .streamer-profile__info__text__name
        %a{href: channel_path(current_channel)}
          = current_channel.name
          - if current_channel.verified?
            = svg_tag 'verified'
      - if show_video_title?
        .streamer-profile__info__text__broadcast-title
          = current_video.title
      .streamer-profile__info__text__about
        = current_channel.about
    .streamer-profile__info__follow
      .streamer-profile__info__follow__count
        = svg_tag 'user-icon-dark'
        %span
          = current_channel.followers.size

      - if user_signed_in?
        - if current_user.follows?(current_channel)
          %button.unfollow-btn{data: { action: "click->streamer-profile#unfollow" }} Following
        - elsif current_channel.user != current_user
          %button.follow-btn{data: { action: "click->streamer-profile#follow" }}
            = svg_tag "plus"
            %span Follow
      - else
        %button.follow-btn{data: { action: "click->authentication#showModal" }}
          = svg_tag "plus"
          %span Follow
  - if current_channel.videos.scheduled.any?
    - upcoming_video = current_channel.videos.scheduled.first
    .streamer-profile__upcoming__broadcast
      .streamer-profile__upcoming__broadcast__text
        = svg_tag "clock"
        = t("channels.scheduled.next_live_at")
      .streamer-profile__upcoming__broadcast__date
        - upcoming_video.decorate.scheduled_at_in_words
      - unless current_user&.follows?(current_channel)
        .streamer-profile__upcoming__broadcast__cta
          = t("channels.scheduled.cta", name: current_channel.name)
